<!-- footer.html (Model_DB project) -->
<hr>
{% load static %}
<img src="{% static " images/logo.png" %}" width=100>
<em>Copyright 2020 <a href='http://homepage.ntu.edu.tw/~jfanc/'>jfanc</a>. All
    rights reserved.</em>